{% extends "nav_bar.html" %}
{% block content %}
    <div class="container">
        <div>
            <h3 style="display: inline-block;margin:0;">Summary By Warehouse</h3>
        </div>
            <table class="table table-hover">
                <thead>
                    <th>Warehouse Name</th>
                    <th>Available Quantity</th>
                    <th>Reserved Qunatity</th>
                    <th>Damaged Quantity</th>
                </thead>
                <tbody>
                    {% for summary_obj in summary_by_warehouse %}
                        <tr>
                            <td >{{summary_obj.warehouse_name}}</td>
                            <td >{{summary_obj.available_quantity}}</td>
                            <td >{{summary_obj.reserved_qunatity}}</td>
                            <td >{{summary_obj.damaged_quantity}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div>
            <h3 style="display: inline-block;margin:0;">Summary By Product</h3>
        </div>
            <table class="table table-hover">
                <thead>
                    <th>Product Name</th>
                    <th>Available Quantity</th>
                    <th>Reserved Qunatity</th>
                    <th>Damaged Quantity</th>
                </thead>
                <tbody>
                    {% for summary_obj in summary_by_product %}
                        <tr>
                            <td >{{summary_obj.product_name}}</td>
                            <td >{{summary_obj.available_quantity}}</td>
                            <td >{{summary_obj.reserved_qunatity}}</td>
                            <td >{{summary_obj.damaged_quantity}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}